* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* 세로 스크롤을 명시적으로 허용 */
  cursor: url("/images/cursor-icon.png"), auto;
  /* cursor: url("/images/cat-cursor.png"), auto; */
}

html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}
html.modal-open,
body.modal-open {
  overflow: hidden;
}

h1 {
  font-size: 2rem; /* 32px */
}
p {
  font-size: 1rem; /* 16px */
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
